<div class="page-sidebar nav-collapse collapse">
    <ul class="page-sidebar-menu">
        <li>
            <div class="sidebar-toggler hidden-phone" ></div>
        </li>
        <li class="start act <%= this.url == '/' ? 'active' : '' %>" >
            <a href="/">
                <i class="icon-home"></i>
                <span class="title">我的桌面</span>
                <span class="selected"></span>
            </a>
        </li>
        <li class="li1">
            <a href="javascript:;">
                <i class="icon-cogs"></i>
                <span class="title">系统配置</span>
                <span class="selected"></span>
                <span class="arrow"></span>
            </a>
            <ul class="sub-menu nav_all">
                <li><a href="/system/menu" _attr="/system/menu">菜单配置</a></li>
                <li><a href="/manage/suppervisor" _attr="/manage/list">管理员列表</a></li>
                <li><a href="/manage/role" _attr="/manage/list">角色列表</a></li>
            </ul>
        </li>
    </ul>
</div>